# Python
*.pyc
*~
__pycache__

# misc 
misc/
tester.py

# data
*.las
*.LAS
data/raw/rgb/
data/raw/las/
data/raw/csv/

# Env
.venv

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace
